body {
    background-color: lightgray;
}

p {
    font-family: Verdana;
    color: #000080;
}

h1, h2, h3, h4, p {
    text-align: center;
}

div {
    width: 40%;
    border: 5px double #800000;
    margin: 0 auto;
}